.btn{
    display: inline-block;
    width:90px;
    border-radius: 7px;
    color: black;
    padding:8px;
    font-size: 15px;
    cursor: pointer;
    border:0;
    background-color: grey;
}
.btn-primary{
    background-color: rgba(33, 150, 243, 1);
}
.btn-secondary{
    background-color: rgb(21, 183, 24);
}

.btn-small {
    padding: 10px 16px;
    font-size: 14px;
  }

.btn-medium {
    padding: 11px 20px;
    font-size: 15px;
  }

.btn-large {
    padding: 12px 24px;
    font-size: 17px;
  }
  
  .btn-disabled{
    background-color: rgba(158, 158, 158, 0.5);
    cursor: not-allowed;
  }