
.grid-item {
    background-color: rgb(112, 227, 94);
    border: 1px solid #bbb;
    padding: 50px;
    text-align: center;
    font-size:20px;
    border-radius: 4px;
  }
  
  .grid-container {
    margin: 16px; 
    width: 100%;
    box-sizing: border-box;
  }
  