/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  /* Modal Container */
  .modal-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 150px;
  }
  
  /* Modal Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  .modal-title {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
  }
  
  /* Close Button */
  .modal-close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    font-weight: bold;
  }
  
  /* Modal Body */
  .modal-body {
    font-size: 24px;
    color: #555;
    padding: 10px;
  }
  
  .modal-description {
    margin: 0;
  }

  .open-modal-btn {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;             
    border: none;              
    border-radius: 4px;        
    font-size: 16px;           
    cursor: pointer;          

  }